<!--
<h1 class="page-title">
    {% if page.title %}
    <a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a>
    {% endif %}
    {% if post.title %}
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
    {% endif %}
</h1>
-->
<div class="page-content">
    <div style="float:left;width:60%">{{ content }}</div>
    <div class="sidebar" style="float:right;width:40%;margin-top:50px">
        <div style="margin-bottom:20px">
            <!--Weatherzone current weather button-->
            <script type="text/javascript" src="http://www.weatherzone.com.au/woys/graphic_current.jsp?postcode=3612&locality=waranga"></script>
            <!--end Weatherzone current weather button-->

            <!--Weatherzone forecast button-->
            <script type="text/javascript" src="http://www.weatherzone.com.au/woys/graphic_forecast.jsp?postcode=3612&locality=waranga"></script>
            <!--end Weatherzone forecast button-->
        </div>

        <a class="twitter-timeline" href="https://twitter.com/WarangaNews" data-widget-id="593407194864848896">Tweets by @WarangaNews</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
